.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.titleLabel {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;
  color: var(--black-300);
  background: var(--color-white);
  margin-top: 100px;
  margin-left: 40px;
  text-align: center;
  padding: 5px 5px;
  font-size: 13px;
  font-weight: bolder;
  letter-spacing: 1px;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  width: 300px;
}

.uploadCarbonLabel{
  position: fixed;
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--black-300);
  margin-top: 10px;
  top: 145px;
  margin-left: 25px;
  text-align: center;
  padding: 5px 5px;
  font-size: 18px;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  width: 300px;
}

.uploadLabel.green {
  background: green;
}

label i{
  font-size: 20px;
  margin-right: 5px;
}

label:active{
  transform: scale(0.9);
}

.wallSelector,
.slabSelector,
.roofSelector,
.parkingSelector,
.roadSelector {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--black-300);
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px 10px;
  font-size: 15px;
  letter-spacing: 1.5px;
  user-select: none;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  width: 300px;
  transform: translateY(-180px);
}

.selectors select {
  width: 120px;
  color: var(--color-white);
  background-color: var(--black-300);
  font-weight: bold;
  font-size: 13px;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  margin-top: 1px;
}

.selectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 12px;
  text-align: left;
  width: 100%;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 3px;
  color: #ffffff;
  background-color: #007BFF;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  height: 50px;
  bottom: 190px;

}

button:hover {
  background-color: #0056b3;
}

.gridSelector {
  display: flex;
  flex-direction: column;
}

.gridSliderText {
  font-size: 0.8rem;
}

.chartBox {
  position: fixed;
  bottom: -50px;
  right: 10px;
  width: 500px !important;
  height: 500px !important;
}

.resultsContainer  h3{
  font-size: 1rem;
}

.gwpContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 400px;
  right: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--color-white);
  padding: 10px;
  font-size: 15px;
  letter-spacing: 1.5px;
  user-select: none;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  width: 350px;
  height: 75px;
}

.gwpContainer p {
  font-size: 1.3rem;
  padding-left: 5px;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.gwpContainer h3 {
  font-size: 1.3rem;
  padding-right: 5px;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center; 
}

.red {
  background-color: red; 
}

.green {
  background-color: green; 
}

.gray {
  background-color: gray;
}

.gwp-info {
  display: flex;
  align-items: center;
}

.gwp-info p {
  margin: 0 0px;
}

#submitCarbonBtn {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: var(--color-white);
  background: var(--black-300);
  margin-top: 10px;
  margin-left: 25px;
  text-align: center;
  padding: 10px 40px;
  font-size: 18px;
  letter-spacing: 1.5px;
  user-select: none;
  cursor: pointer;
  box-shadow: 5px 15px 25px rgba(0, 0, 0, 0.35);
  border-radius: 3px;
  width: 300px;
  border: none; 
}

#submitCarbonBtn:active{
  transform: scale(0.9);
}

.submitContainer i{
  padding: 5px;
}