* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--open-sans);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: #000;
}

.sidebar__nav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  z-index: 1;
}

.sidebar__menu {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  margin-top: auto;
}

.nt__logo {
  position: absolute;
  z-index: 2;
  margin-left: 40px;
  margin-top: 40px;
}

.sidebar__menu li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar__menu li img {
  width: 25px;
  padding: 5px;
}

.sidebar__menu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  filter: brightness(0) invert(1);
}

.sidebar__menu li span {
  white-space: nowrap;
}

.sidebar__menu li p {
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-white);
}

 .loader {
   width: 100vw;
   height: 100vh;
   background: var(--black-200);
 }
 
 .loader-clip {
   position: absolute;
   width: 100vw;
   height: 33.3333vh;
   overflow: clip;
   z-index: 10000;
 }
 
 .clip-top {
   top: 0;
   clip-path: inset(0 0 0 0);
   background: #fff;
 }
 
 .clip-bottom {
   bottom: 0;
   clip-path: inset(0 0 0 0);
   background: #fff;
 }
 
 .clip-center {
   overflow: hidden;
   position: relative;
   width: 100vw;
   height: 33.3vh;
   top: 33.3vh;
   z-index: 2;
   background: var(--black-200);
 }
 
 .marquee {
   position: absolute;
   top: 0%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 200vw;
   color: #fff;
   mix-blend-mode: difference;
   font-size: 16vw;
 }
 
 .marquee-container {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: baseline; 
 }
 
 .enter {
  display: none;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; 
  z-index: 2;
}
 .enter h3 {
  color: var(--color-white);
  text-transform: uppercase;
 }