<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nettletontribe</title>
    <link
      rel="icon"
      type="image/svg"
      href="/static/images/industry-solid.svg"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.2.0"></script>
  <script
    async
    src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"
  ></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"></script>
  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.151.3/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.151.3/examples/jsm/"
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <body>

    <div class="dd__logo">
      <a href="https://digitaldesign.nettletontribe.com.au/"
        ><img src="/static/images/dd_logo.png" alt="dd_logo" width="200px"
      /></a>
    </div>
  
    <div class="nt__logo">
      <a href="https://www.nettletontribe.com.au/"
        ><img src="/static/images/nt_logo.png" alt="dd_logo" width="200px"
      /></a>
    </div>

    <div class="errorPopup">
      <span><img src="/static/images/emoji.png" alt="emoji" /></span>
      <p class="firstLine">OOPS...</p>
      <p class="secondLine">SOMETHING WENT WRONG</p>
      <p class="thirdLine">PLEASE TRY AGAIN OR CONTACT DDG</p>
    </div>

    <div class="titleLabel">
      Industrial Building Carbon Calculator
    </div>

    <div class="spinner" id="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    {% if gwp is not none %}
    <div class="gwpContainer {% if gwp_status == 'increase' %}red{% elif gwp_status == 'decrease' %}green{% else %}gray{% endif %}">
      <h3>GWP</h3>
      <p>{{ gwp }} kgCO2e/m2</p>
      <div class="gwp-info">
        {% if delta is not none %}
        <i class="ri-arrow-up-down-line"></i>
        <p>{{ percentage_change }} %</p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="barBox">
      <canvas id="resultsBox" class="boxCanvas"></canvas>
      <div id="arrow" style="display: none; position: absolute; width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 20px solid white;"></div>
    </div>

    <div class="chartBox">
      <canvas id="resultsChart" class="chartCanvas"></canvas>
    </div>

    <div class="resultsContainer">
    </div>

    <div class="sidebar">

      <nav class="sidebar__nav">
        <form id="carbonForm" action="./get_carbon" method="POST" enctype="multipart/form-data">
          <input type="file" id="uploadCarbonFile" name="uploadCarbonFile" />
          <label for="uploadCarbonFile" class="uploadCarbonLabel"
            ><i class="ri-upload-line"></i>Upload 3DM</label>

        <div class="ratingSelector">
          <button id="goodRating" class="ratingButton">Good</button>
          <button id="averageRating" class="ratingButton">Average</button>
          <button id="badRating" class="ratingButton">Bad</button>
        </div>
            
        <div class="selectors">
          <div class="wallSelector">
            <p>Wall Selection</p>

            <div class="selectionContainer">
              <label for="wallConcrete">Warehouse:</label>
              <select id="wallConcrete" name="wallConcrete"></select>
            </div>

            <div class="selectionContainer">
              <label for="wallOffice">Office:</label>
              <select id="wallOffice" name="wallOffice"></select>
            </div>
          </div>


          <div class="slabSelector">
            <p>Slab Selection</p>

            <div class="selectionContainer">
              <label for="slabConcrete">Concrete:</label>
              <select id="slabConcrete" name="slabConcrete"></select>
            </div>
          </div>

          <div class="roofSelector">
            <p>Roof Selection</p>

            <div class="selectionContainer">
              <label for="roofChoice">Roof:</label>
              <select id="roofChoice" name="roofChoice"></select>
            </div>
          </div>

          <div class="roadSelector">
            <p>Road Selection</p>

            <div class="selectionContainer">
              <label for="roadCarsChoice">Road Cars:</label>
              <select id="roadCarsChoice" name="roadCarsChoice"></select>
            </div>

            <div class="selectionContainer">
              <label for="roadTrucksChoice">Road Trucks:</label>
              <select id="roadTrucksChoice" name="roadTrucksChoice"></select>
            </div>
          </div>

          <div class="parkingSelector">
            <p>Parking Selection</p>
            
            <div class="selectionContainer">
              <label for="parkingCarsChoice">Parking Cars:</label>
              <select id="parkingCarsChoice" name="parkingCarsChoice"></select>
            </div>

            <div class="selectionContainer">
              <label for="parkingTrucksChoice">Parking Trucks:</label>
              <select id="parkingTrucksChoice" name="parkingTrucksChoice"></select>
            </div>
          </div>

        <div class="submitCarbonContainer">
          <button id="submitCarbonBtn" type="submit">
            <i class="ri-send-plane-line"></i>Compute
          </button>
        </div>
      </form>

        <ul class="sidebar__menu">
          <li>
            <a href="{{ url_for('planning') }}"
              ><img
                src="/static/images/building-solid.svg"
                alt="building icon"
              />
              <p>PLANNING</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('carbon') }}"
              ><img
                src="/static/images/industry-solid.svg"
                alt="industrial icon"
              />
              <p>CARBON</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('environmental') }}"
              ><img src="/static/images/seedling-solid.svg" alt="tree icon" />
              <p>ENVIRONMENTAL</p></a
            >
          </li>
        </ul>
      </nav>
    </div>

    <script
      type="module"
      src="{{ url_for('static', filename='js/carbon.js') }}"
    ></script>

    <script>
      document
        .getElementById("uploadBtn")
        .addEventListener("change", function () {
          if (this.value) {
            document.querySelector(".uploadLabel").classList.add("green");
          } else {
            document.querySelector(".uploadLabel").classList.remove("green");
          }
        });
    </script>

    <script>
      $(document).ready(function () {
        $("#carbonForm").on("submit", function (event) {
          event.preventDefault();

          $(".spinner").css("display", "block");

          var formData = new FormData(this);

          $.ajax({
            type: "POST",
            url: "/get_carbon",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "binary",
            xhrFields: {
              responseType: "blob",
            },
            success: function (response) {

              $(".spinner").css("display", "none");

              location.reload();
            },
            error: function () {
              $(".spinner").css("display", "none");
              $(".errorPopup").css("display", "flex");
            },
          });
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {

      initializeOptions();
      var goodBtn = document.getElementById("goodRating");
      var averageBtn = document.getElementById("averageRating");
      var badBtn = document.getElementById("badRating");

      goodBtn.addEventListener("click", function(event) {
        event.preventDefault();
        selectSpecificOption("wallConcrete", concOptions, 0);
        selectSpecificOption("wallOffice", concOptions, 0);
        selectSpecificOption("slabConcrete", concOptions, 0);
        selectSpecificOption("roofChoice", roofOptions, 3);
        selectSpecificOption("roadCarsChoice", roadOptions, 0);
        selectSpecificOption("roadTrucksChoice", roadOptions, 0);
        selectSpecificOption("parkingCarsChoice", roadOptions, 0);
        selectSpecificOption("parkingTrucksChoice", roadOptions, 0);

      });

      averageBtn.addEventListener("click", function(event) {
        event.preventDefault();
        selectSpecificOption("wallConcrete", concOptions, 2);
        selectSpecificOption("wallOffice", concOptions, 2);
        selectSpecificOption("slabConcrete", concOptions, 2);
        selectSpecificOption("roofChoice", roofOptions, 1);
        selectSpecificOption("roadCarsChoice", roadOptions, 2);
        selectSpecificOption("roadTrucksChoice", roadOptions, 2);
        selectSpecificOption("parkingCarsChoice", roadOptions, 2);
        selectSpecificOption("parkingTrucksChoice", roadOptions, 2);
      });

      badBtn.addEventListener("click", function(event) {
        event.preventDefault();
        selectSpecificOption("wallConcrete", concOptions, 6);
        selectSpecificOption("wallOffice", concOptions, 6);
        selectSpecificOption("slabConcrete", concOptions, 6);
        selectSpecificOption("roofChoice", roofOptions, 0);
        selectSpecificOption("roadCarsChoice", roadOptions, 4);
        selectSpecificOption("roadTrucksChoice", roadOptions, 4);
        selectSpecificOption("parkingCarsChoice", roadOptions, 4);
        selectSpecificOption("parkingTrucksChoice", roadOptions, 4);
      });

      $('select').each(function() {
        var selectId = $(this).attr('id');
        var selectedValue = sessionStorage.getItem(selectId);
        if (selectedValue) {
            $(this).val(selectedValue);
        }
      });
    });

    function initializeOptions() {
      addOptions("wallConcrete", concOptions);
      addOptions("wallOffice", concOptions);
      addOptions("slabConcrete", concOptions);
      addOptions("roofChoice", roofOptions);
      addOptions("roadCarsChoice", roadOptions)
      addOptions("roadTrucksChoice", roadOptions)
      addOptions("parkingCarsChoice", roadOptions)
      addOptions("parkingTrucksChoice", roadOptions)
  }

    function addOptions(selectId, options) {
      var selectBox = document.getElementById(selectId);
      options.forEach(function(option) {
        var opt = document.createElement("option");
        opt.value = option.value;
        opt.text = option.text;
        selectBox.appendChild(opt);
      });
    }

    function selectSpecificOption(selectId, options, index) {
      var selectBox = document.getElementById(selectId);
      selectBox.value = options[index].value;
      sessionStorage.setItem(selectId, selectBox.value);
    }

    $(document).ready(function() {
      $('select').on('change', function() {
        var selectId = $(this).attr('id');
        var selectedValue = $(this).val();
        sessionStorage.setItem(selectId, selectedValue);
      });
    });

    </script>

    <script>
      var concOptions = [
        { value: "176", text: "Ready-mix concrete, C32, TBlend (Holcim (NSW and ACT plant))" },
        { value: "170", text: "Ready-mix concrete, 32 MPa, ViroDecs NE322E5 (Holcim)" },
        { value: "225", text: "Ready-mix concrete, 32 Mpa, NE322E164, NZ322E164 (Holcim, New South Wales plants (Illawarra and Nowra))" },
        { value: "215", text: "Ready-mix concrete, lower carbon, 32 Mpa, LC40 32MPa (Concrite, Auburn plant)" },
        { value: "283", text: "Ready-mix concrete, C32, NN322TR53 (Holcim)" },
        { value: "338", text: "Ready-mix concrete, 32 MPa, ENVIROCRETE 30% 32 MPa (Boral, Mallee/Murray North Region)" },
        { value: "333", text: "Ready-mix concrete, C32, NS322FJKH (Holcim)" },
      ];

      var roadOptions = [
        { value: "0.0468", text: "Asphalt, 2% virgin bitumen" },
        { value: "0.0558", text: "Asphalt, 3% virgin bitumen" },
        { value: "0.0647", text: "Asphalt, 4% virgin bitumen" },
        { value: "0.0737", text: "Asphalt, 5% virgin bitumen" },
        { value: "0.0781", text: "Asphalt, standard mix, 5.5% virgin bitumen" },
      ];

      var roofOptions = [
        { value: "3.91", text: "Steel sheets, generic, 0% recycled content"},
        { value: "2.6", text: "Steel sheets, generic, 30% recycled content"},
        { value: "1.51", text: "Steel sheets, generic, 80% recycled content"},
        { value: "0.87", text: "Steel sheets, generic, 100% recycled content"},
      ]
    </script>

    <script>
      $(document).ready(function() {
        $('select').on('change', function() {
            var selectId = $(this).attr('id');
            var selectedValue = $(this).val();
            sessionStorage.setItem(selectId, selectedValue);
        });
    });

      $(document).ready(function() {
        $('select').each(function() {
            var selectId = $(this).attr('id');
            var selectedValue = sessionStorage.getItem(selectId);
            if (selectedValue) {
                $(this).val(selectedValue);
            }
        });
      });

      $(document).ready(function() {

          $('select').on('change', function() {
              var selectId = $(this).attr('id');
              var selectedValue = $(this).val();
              sessionStorage.setItem(selectId, selectedValue);
          });

          $('select').each(function() {
              var selectId = $(this).attr('id');
              var selectedValue = sessionStorage.getItem(selectId);
              if (selectedValue) {
                  $(this).val(selectedValue);
              }
          });
      });
    </script>

    <script>
      document
        .getElementById("uploadCarbonFile")
        .addEventListener("change", function () {
          if (this.value) {
            document.querySelector(".uploadCarbonLabel").classList.add("green");
          } else {
            document.querySelector(".uploadCarbonLabel").classList.remove("green");
          }
        });
    </script>

    <script type="text/javascript">
      document.onreadystatechange = function () {
          if (document.readyState !== "complete") {
              setTimeout(function(){
                  document.querySelector(".loadingScreen").style.display = "none";
              }, 1500);
          }
      };
    </script>

    <script>
      $(document).ready(function () {
        $(".errorPopup").click(function () {
          $(this).hide();
        });
      });
    </script>
            
    <script>
      var ctx = document.getElementById('resultsChart').getContext('2d');

      var color1 = '{{color1}}'
      var color2 = '{{color2}}'
      var color3 = '{{color3}}'
      var color4 = '{{color4}}'
      var color5 = '{{color5}}'
      var color6 = '{{color6}}'
      var color7 = '{{color7}}'

      var backgroundColors = [
    'rgb(' + color1 + ')',
    'rgb(' + color2 + ')',
    'rgb(' + color3 + ')',
    'rgb(' + color4 + ')',
    'rgb(' + color5 + ')',
    'rgb(' + color6 + ')',
    'rgb(' + color7 + ')'
  ];
      
      var labels = ['Warehouse Carbon', 'Office Carbon', 'Landscaping Carbon', 'Road Cars Carbon', 'Road Trucks Carbon', 'Parking Cars Carbon', 'Parking Trucks Carbon'];
      var data = [
    '{{ warehouse_carbon }}',
    '{{ office_carbon }}',
    '{{ landscaping_carbon }}',
    '{{ road_cars_carbon }}',
    '{{ road_trucks_carbon }}',
    '{{ parking_cars_carbon }}',
    '{{ parking_trucks_carbon }}',
  ];
    
      var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: labels,
          datasets: [{
            data: data,
            backgroundColor: backgroundColors,
            borderWidth: 2
          }],
        },
        options: {
            plugins: {
              legend: {
                position: 'left',
                labels: {
                  color: 'rgb(255, 255, 255)'
                }
              }
            }
          },
      });
    </script>

    <script>
      var ctx2 = document.getElementById('resultsBox').getContext('2d');

      var labels2 = ['Good', 'Average', 'Bad'];
      var data2 = [440, 620, 890];

      var gwpValue = '{{ gwp }}';
      var arrowPosition = labels2.indexOf('Average');
      if (gwpValue < 440) {
        arrowPosition = labels2.indexOf('Good');
      } else if (gwpValue > 890) {
        arrowPosition = labels2.indexOf('Bad');
      }

      var myBarChart = new Chart(ctx2, {
        type: 'bar',
        data: {
          labels: labels2,
          datasets: [{
            label: 'Carbon Rating',
            data: data2,
            backgroundColor: ['rgb(0,255,0)', 'rgb(255,255,0)', 'rgb(255,0,0)'],
            borderWidth: 2,
            borderColor: 'rgb(255,255,255)'
          }],
        },
        options: {
          plugins: {
            legend: {
              display: false,
            }
          },
        },
      });

      myBarChart.options.animation.onComplete = function() {
      // Calculate the x position of the tick
      var xPos = myBarChart.scales.x.getPixelForTick(arrowPosition);

      // Manually set the position of the arrow div
      var arrowDiv = document.getElementById("arrow");
      arrowDiv.style.left = (xPos - 10) + 'px';  // 10 is half the width of the arrow
      arrowDiv.style.bottom = '180px';  // Positioned at the bottom of the canvas
      arrowDiv.style.display = 'block';  // Make the arrow visible
    };

    </script>
            
  </body>
</html>
