<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>early planning</title>
    <link
      rel="icon"
      type="image/svg"
      href="/static/images/industry-solid.svg"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <script
    async
    src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"
  ></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.151.3/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.151.3/examples/jsm/"
      }
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <body>
    <div class="loadingScreen"></div>

    <div class="spinner" id="spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>

    <div class="gwpContainer">
      <h3>GWP</h3>
      {% if gwp is not none %}
      <p>{{ gwp }} kgCO2e/m2</p>
      {% endif %}
    </div>

    <div class="resultsContainer">
      {% if roof_carbon is not none %}
      <h3>Roof Carbon</h3>
      <p>{{ roof_carbon }}</p>
      {% endif %}
      {% if wall_carbon is not none %}
      <h3>Wall Carbon</h3>
      <p>{{ wall_carbon }}</p>
      {% endif %}
      {% if slab_carbon is not none %}
      <h3>Slab Carbon</h3>
      <p>{{ slab_carbon }}</p>
      {% endif %}
      {% if beam_carbon is not none %}
      <h3>Beam Carbon</h3>
      <p>{{ beam_carbon }}</p>
      {% endif %}
      {% if column_carbon is not none %}
      <h3>Column Carbon</h3>
      <p>{{ column_carbon }}</p>
      {% endif %}
      {% if total_carbon is not none %}
      <h3>Total Carbon</h3>
      <p>{{ total_carbon }}</p>
      {% endif %}
    </div>

    <div class="sidebar">
      <div class="nt__logo">
        <a href="https://www.nettletontribe.com.au"
          ><img src="/static/images/nt_logo.png" alt="dd_logo" width="300px"
        /></a>
      </div>

      <nav class="sidebar__nav">
        <form id="carbonForm" action="./get_carbon" method="POST" enctype="multipart/form-data">
          <input type="file" id="uploadCarbonFile" name="uploadCarbonFile" />
          <label for="uploadCarbonFile" class="uploadLabel"
            ><i class="ri-upload-line"></i>Upload 3DM</label>
            {% if carbon_file_data %}
            <div class="uploadedFileData">
              <h3>Uploaded File Data:</h3>
              <p>{{ carbon_file_data }}</p>
            </div>
            {% endif %}

        <div class="selectors">
          <div class="wallSelector">
            <p>Wall Selection</p>

            <div class="selectionContainer">
              <label for="wallConcrete">Concrete:</label>
              <select id="wallConcrete" name="wallConcrete"></select>
            </div>

            <div class="selectionContainer">
              <label for="wallRebar">Rebar:</label>
              <select id="wallRebar" name="wallRebar"></select>
            </div>
          </div>

          <div class="columnSelector">
            <p>Column Selection</p>

            <div class="selectionContainer">
              <label for="columnChoice">Column:</label>
              <select id="columnChoice" name="columnChoice"></select>
            </div>

          </div>

          <div class="beamSelector">
            <p>Beam Selection</p>

            <div class="selectionContainer">
              <label for="beamChoice">Beam:</label>
              <select id="beamChoice" name="beamChoice"></select>
            </div>

          </div>

          <div class="slabSelector">
            <p>Slab Selection</p>

            <div class="selectionContainer">
              <label for="slabConcrete">Concrete:</label>
              <select id="slabConcrete" name="slabConcrete"></select>
            </div>

            <div class="selectionContainer">
              <label for="slabRebar">Rebar:</label>
              <select id="slabRebar" name="slabRebar"></select>
            </div>

            <div class="selectionContainer">
              <label for="slabTimber">Structural Timber:</label>
              <select id="slabTimber" name="slabTimber"></select>
            </div>
          </div>

          <div class="roofSelector">
            <p>Roof Selection</p>

            <div class="selectionContainer">
              <label for="roofChoice">Roof:</label>
              <select id="roofChoice" name="roofChoice"></select>
            </div>
          </div>

          <div class="gridSelector">
            <p>Grid Configuration</p>

            <div class="gridContainer">
              <span class="gridSliderText">Grid U</span>
            <input
              type="range"
              min="3"
              max="10"
              id="gridU"
              name="gridU"
            />

            <span class="gridSliderText">Grid V</span>
            <input
              type="range"
              min="3"
              max="10"
              id="gridV"
              name="gridV"
            />
            </div>
          </div>
        </div>

        <div class="submitContainer">
          <button id="submitBtn" type="submit">
            <i class="ri-send-plane-line"></i>Compute
          </button>
        </div>
      </form>

        <ul class="sidebar__menu">
          <li>
            <a href="https://digitaldesign.nettletontribe.com.au/"
              ><img
                src="/static/images/terminal_icon.svg"
                alt="building icon"
              />
              <p>DIGITAL DESIGN</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('planning') }}"
              ><img
                src="/static/images/building-solid.svg"
                alt="building icon"
              />
              <p>PLANNING</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('carbon') }}"
              ><img
                src="/static/images/industry-solid.svg"
                alt="industrial icon"
              />
              <p>CARBON</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('environmental') }}"
              ><img src="/static/images/seedling-solid.svg" alt="tree icon" />
              <p>ENVIRONMENTAL</p></a
            >
          </li>
        </ul>
      </nav>
    </div>

    <script
      type="module"
      src="{{ url_for('static', filename='js/carbon.js') }}"
    ></script>

    <script>
      document
        .getElementById("uploadBtn")
        .addEventListener("change", function () {
          if (this.value) {
            document.querySelector(".uploadLabel").classList.add("green");
          } else {
            document.querySelector(".uploadLabel").classList.remove("green");
          }
        });
    </script>

    <script>
      $(document).ready(function () {
        $("#carbonForm").on("submit", function (event) {
          event.preventDefault();

          $(".spinner").css("display", "block");

          var formData = new FormData(this);

          $.ajax({
            type: "POST",
            url: "/get_carbon",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "binary",
            xhrFields: {
              responseType: "blob",
            },
            success: function (response) {

              $(".spinner").css("display", "none");

              location.reload();
            },
            error: function () {
              $(".spinner").css("display", "none");
              $(".errorPopup").css("display", "flex");
            },
          });
        });
      });
    </script>

    <script>
      var concOptions = [
        { value: "492", text: "Concrete 50 MPa - GGBS" },
        { value: "467", text: "Concrete 50 MPa - Fly Ash" },
        { value: "600", text: "Concrete 50 MPa" },
        { value: "392", text: "Concrete 40 MPa - GGBS" },
        { value: "373", text: "Concrete 40 MPa - Fly Ash" },
        { value: "497", text: "Concrete 40 MPa" },
        { value: "331", text: "Concrete 32 MPa - GGBS" },
        { value: "314", text: "Concrete 32 MPa - Fly Ash" },
        { value: "416", text: "Concrete 32 MPa" },
      ];

      var colbeamOptions = [
        { value: "492", text: "Timber Framing" },
        { value: "467", text: "Steel Framing" },
      ];

      var rebarOptions = [
        { value: "2.6", text: "Steel Reinforcement Bar" },
      ];

      var steelOptions = [
        { value: "4.6", text: "Steel Hollow Section" },
        { value: "2.9", text: "Steel Universal Section" },
      ];

      var timberOptions = [
        { value: "6.77", text: "Timber CLT" },
        { value: "1718", text: "Timber Glu-lam" },
        { value: "1059", text: "Timber LVL" },
      ];

      function addOptions(selectId, options) {
        var selectBox = document.getElementById(selectId);
        options.forEach(function (option) {
          var opt = document.createElement("option");
          opt.value = option.value;
          opt.text = option.text;
          selectBox.appendChild(opt);
        });
      }

      addOptions("wallConcrete", concOptions);
      addOptions("wallRebar", rebarOptions);

      addOptions("slabConcrete", concOptions);
      addOptions("slabRebar", rebarOptions);
      addOptions("slabTimber", timberOptions);

      addOptions("columnChoice", colbeamOptions);
      addOptions("beamChoice", colbeamOptions);

      addOptions("roofChoice", colbeamOptions);
    </script>

    <script>
      document
        .getElementById("uploadCarbonFile")
        .addEventListener("change", function () {
          if (this.value) {
            document.querySelector(".uploadLabel").classList.add("green");
          } else {
            document.querySelector(".uploadLabel").classList.remove("green");
          }
        });
    </script>

    <script type="text/javascript">
      document.onreadystatechange = function () {
          if (document.readyState !== "complete") {
              setTimeout(function(){
                  document.querySelector(".loadingScreen").style.display = "none";
              }, 1500);
          }
      };
    </script>
        
  </body>
</html>
