<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>early planning</title>
    <link
      rel="icon"
      type="image/svg"
      href="/static/images/seedling-solid.svg"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.4/jquery.xdomainrequest.min.js"></script>
  </head>
  <script
    async
    src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"
  ></script>
  <script type="importmap">
    {
      "imports": {
        "three": "https://unpkg.com/three@0.151.3/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.151.3/examples/jsm/"
      }
    }
  </script>
  <body>
    <canvas class="webgl"></canvas>

    <div class="loadingScreen"></div>

    <div class="errorPopupEnv">
      <span><img src="/static/images/emoji.png" alt="emoji" /></span>
      <p class="firstLine">OOPS...</p>
      <p class="secondLine">SOMETHING WENT WRONG</p>
      <p class="thirdLine">PLEASE TRY AGAIN OR CONTACT DDG</p>
    </div>

    <div class="sidebar">
      <div class="nt__logo">
        <a href="https://www.nettletontribe.com.au"
          ><img src="/static/images/nt_logo.png" alt="dd_logo" width="300px"
        /></a>
      </div>

      <div class="spinner" id="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <div id="gui-container"></div>

      <nav class="sidebar__nav">
        <form
          id="environmentalForm"
          action="/submit_environmental"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="file" id="uploadedFile" name="uploadFile" />
          <label for="uploadedFile" class="uploadLabel"
            ><i class="ri-upload-line"></i>Upload 3DM</label
          >

          <div class="sliderContainer">
            <span class="sliderText">Start Hour</span>
            <input
              type="range"
              min="1"
              max="23"
              id="minHour"
              name="minHour"
            />
            <span id="minHourValue" class="sliderValue">12</span>
            <span class="sliderText">End Hour</span>
            <input
              type="range"
              min="1"
              max="23"
              id="maxHour"
              name="maxHour"
            />
            <span id="maxHourValue" class="sliderValue">12</span>
            <span class="sliderText">Month</span>
            <input
              type="range"
              min="6"
              max="12"
              id="Month"
              name="Month"
              step="6"
            />
            <span id="MonthValue" class="sliderValue">6</span>
          </div>

          <div class="submitContainer">
            <button id="submitBtn" type="submit">
              <i class="ri-send-plane-line"></i>Compute
            </button>
          </div>
        </form>

        {% if total_sunlight_hours is not none %}
        <div class="resultsEnvContainer">
            <i class="ri-numbers-fill"></i>Results
            <h5>Total Sunlight Hours</h5>
            <p>{{ total_sunlight_hours }}</p>
        </div>
        {% endif %}

        <ul class="sidebar__menu">
          <li>
            <a href="{{ url_for('planning') }}"
              ><img
                src="/static/images/building-solid.svg"
                alt="building icon"
              />
              <p>PLANNING</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('carbon') }}"
              ><img
                src="/static/images/industry-solid.svg"
                alt="industrial icon"
              />
              <p>CARBON</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('environmental') }}"
              ><img src="/static/images/seedling-solid.svg" alt="tree icon" />
              <p>ENVIRONMENTAL</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('tools') }}"
              ><img src="/static/images/screwdriver-wrench-solid.svg" alt="terminal icon" />
              <p>TOOLS</p></a
            >
          </li>
        </ul>
      </nav>
    </div>

    <script>
      const minHourSlider = document.getElementById("minHour");
      const maxHourSlider = document.getElementById("maxHour");
      const MonthSlider = document.getElementById("Month");

      const minDayValue = document.getElementById("minDayValue");
      const maxDayValue = document.getElementById("maxDayValue");
      const MonthValue = document.getElementById("MonthValue");

      minHourSlider.addEventListener("input", function () {
        minHourValue.textContent = minHourSlider.value;
      });

      maxHourSlider.addEventListener("input", function () {
        maxHourValue.textContent = maxHourSlider.value;
      });

      MonthSlider.addEventListener("input", function () {
        MonthValue.textContent = MonthSlider.value;
      });
    </script>

    <script>
      $(document).ready(function () {
        $(".errorPopup").click(function () {
          $(this).hide();
        });
      });
    </script>

    <script>
      document
        .getElementById("uploadedFile")
        .addEventListener("change", function () {
          if (this.value) {
            document.querySelector(".uploadLabel").classList.add("green");
          } else {
            document.querySelector(".uploadLabel").classList.remove("green");
          }
        });
    </script>

    <script>
      $(document).ready(function () {
        $("#environmentalForm").on("submit", function (event) {
          event.preventDefault();

          $(".spinner").css("display", "block");

          var formData = new FormData(this);

          $.ajax({
            type: "POST",
            url: "/submit_environmental",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "binary",
            xhrFields: {
              responseType: "blob",
            },
            success: function (response) {
              var blob = new Blob([response]);
              var link = document.createElement("a");
              link.href = window.URL.createObjectURL(blob);
              link.download = "environmental.3dm";
              link.click();

              $(".spinner").css("display", "none");

              location.reload();
            },
            error: function () {
              $(".spinner").css("display", "none");
              $(".errorPopup").css("display", "flex");
            },
          });
        });
      });
    </script>

    <script>
      var minHour = document.getElementById("minHour").value;
      var maxHour = document.getElementById("maxHour").value;
      var Month = document.getElementById("Month").value;
    </script>

    <script
      type="module"
      src="{{ url_for('static', filename='js/3dm.js') }}"
    ></script>

    <script type="text/javascript">
      document.onreadystatechange = function () {
          if (document.readyState !== "complete") {
              setTimeout(function(){
                  document.querySelector(".loadingScreen").style.display = "none";
              }, 1500);
          }
      };
    </script>

  </body>
</html>
