<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>digital design</title>
    <link rel="icon" type="image/svg" href="/static/images/terminal_icon.svg" />
    <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/splitting.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"></script>
  </head>
  <body>
    <div class="counter">0</div>

    <div class="overlay">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>

    <div class="sidebar">
      <div class="nt__logo">
        <a href="https://www.nettletontribe.com.au"
          ><img src="/static/images/nt_logo.png" alt="dd_logo" width="300px"
        /></a>
      </div>

      <nav class="sidebar__nav">
        <ul class="sidebar__menu">
          <li>
            <a href="{{ url_for('planning') }}"
              ><img
                src="/static/images/building-solid.svg"
                alt="building icon"
              />
              <p>PLANNING</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('carbon') }}"
              ><img
                src="/static/images/industry-solid.svg"
                alt="industrial icon"
              />
              <p>CARBON</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('environmental') }}"
              ><img src="/static/images/seedling-solid.svg" alt="tree icon" />
              <p>ENVIRONMENTAL</p></a
            >
          </li>
        </ul>
      </nav>
    </div>

    <div class="container">
      <div class="data">
        <p>DIGITAL DESIGN</p>
      </div>
    </div>

    <div class="background"></div>

    <script type="text/javascript">
      document.onreadystatechange = function () {
        if (document.readyState !== "complete") {
          setTimeout(function () {
            document.querySelector(".loadingScreen").style.display = "none";
          }, 4000);
        }
      };

      setTimeout(function () {
        const text = baffle(".data");
        text.set({
          characters: "█▒< █▒▒▓▓ /░//▒ /<▓ ░>█░░ ░/▒▓ ▒░▒ >░░▒ █▓▒▒",
          speed: 120,
        });
        text.start();
        text.reveal(2000);
      }, 4000);
    </script>

    <script>
      function startLoader() {
        let counterElement = document.querySelector(".counter");
        let currentValue = 0;

        function updateCounter() {
          if (currentValue === 100) {
            return;
          }
          currentValue += Math.floor(Math.random() * 10) + 1;

          if (currentValue > 100) {
            currentValue = 100;
          }
          counterElement.textContent = currentValue;

          let delay = Math.floor(Math.random() * 200) + 50;
          setTimeout(updateCounter, delay);
        }
        updateCounter();
      }
      startLoader();

      gsap.to(".counter", 0.25, {
        delay: 3.5,
        opacity: 0,
      });
      gsap.to(".bar", 1.5, {
        delay: 3.5,
        height: 0,
        stagger: {
          amount: 0.5,
        },
        ease: "power4.inOut",
      });
    </script>
  </body>
</html>
