<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>digital design</title>
  <link rel="icon" type="image/svg" href="/static/images/terminal_icon.svg" />
  <link type="text/css" rel="stylesheet" href="/static/css/style.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"></script>
</head>
<body>

  <div class="loader" id="preloader">
    <div class="logo-container">
      <a href="planning">
        <img src="/static/images/dd_logo.png" alt="Logo">
      </a>
    </div>
  </div>
  
</body>
</html>
