<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Early Planning</title>
    <link
      rel="icon"
      type="image/svg"
      href="/static/images/building-solid.svg"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.4/jquery.xdomainrequest.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.1/gsap.min.js"></script>
  </head>
  <body>
    <div class="statePicker">
      <ul>
        <li>
          <img
            src="/static/images/nsw_outline.png"
            alt=""
            class="state-img nsw-img"
          />
        </li>
        <li>
          <a href="{{ url_for('qld') }}" onclick="hideStatePicker()"
            ><img
              src="/static/images/qld_outline.png"
              alt=""
              class="state-img qld-img"
          /></a>
        </li>
        <li>
          <a href="{{ url_for('vic') }}" onclick="hideStatePicker()"
            ><img
              src="/static/images/vic_outline.png"
              alt=""
              class="state-img vic-img"
          /></a>
        </li>
      </ul>
    </div>

    <div class="state">
      <a href="./planning"
        ><img src="/static/images/nsw_outline.png" alt=""
      /></a>
    </div>

    <div class="errorPopup">
      <span><img src="/static/images/emoji.png" alt="emoji" /></span>
      <p class="firstLine">OOPS...</p>
      <p class="secondLine">SOMETHING WENT WRONG</p>
      <p class="thirdLine">PLEASE TRY AGAIN OR CONTACT DDG</p>
    </div>

    <form
      id="rhinoForm"
      action="/mergeRhino"
      enctype="multipart/form-data"
      ,
      method="POST"
    >
      <div class="mergeRhino">
        <input
          type="file"
          id="uploadedMergeFile"
          name="uploadedMergeFile"
          multiple
          onchange="countFiles()"
        />
        <label for="uploadedMergeFile" class="uploadMergeLabel"
          ><i class="ri-upload-line"></i>Upload Rhino Files</label
        >
        <span id="fileCount">0</span>
        <button type="submit" class="mergeLabel">Merge</button>
      </div>
    </form>

    <div class="sidebar">
      <div class="nt__logo">
        <a href="https://www.nettletontribe.com.au"
          ><img src="/static/images/nt_logo.png" alt="dd_logo" width="300px"
        /></a>
      </div>

      <nav class="sidebar__nav">
        <form id="planningForm" action="/submit/planning" method="POST">
          <div class="address">
            <input
              type="text"
              id="address_planning"
              name="address"
              placeholder="Address will appear here"
              readonly
            />
          </div>
          <div class="planning_button">
            <button type="submit" id="planning"></button>
            <label for="planning" class="planningLabel">PLANNNG</label>
          </div>
        </form>
        <form id="geometryForm" action="/submit/geometry" method="POST">
          <input type="file" id="uploadGiraffeBtn" name="uploadGiraffeBtn" />
          <label for="uploadGiraffeBtn" class="uploadGiraffeLabel"
            ><i class="ri-upload-line"></i>Upload Giraffe</label
          >
          <div class="address">
            <input
              type="text"
              id="address_geometry"
              name="address"
              placeholder="Address will appear here"
              readonly
            />
          </div>
          <div class="geometry_button">
            <button type="submit" id="geometry"></button>
            <label for="geometry" class="geometryLabel">GEOMETRY</label>
          </div>
        </form>
        <form id="elevatedForm" action="/submit/elevated" method="POST">
          <div class="address">
            <input
              type="text"
              id="address_elevated"
              name="address"
              placeholder="Address will appear here"
              readonly
            />
          </div>
          <div class="elevated_button">
            <button type="submit" id="elevated"></button>
            <label for="elevated" class="elevatedLabel">ELEVATED</label>
          </div>
        </form>

        <div class="spinner" id="spinner">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>

        <div class="togglecontainer">
          <div id="adminToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Administrative Boundary</div>
            </div>
          </div>

          <div id="cadastreToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Cadastre</div>
            </div>
          </div>

          <div id="landZoningToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Land Zoning</div>
            </div>
          </div>

          <div id="fsrToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Floor Space Ratio</div>
            </div>
          </div>

          <div id="mlsToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Minimum Lot Size</div>
            </div>
          </div>

          <div id="hobToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Height of Building</div>
            </div>
          </div>

          <div id="bushfireToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Bushfire</div>
            </div>
          </div>

          <div id="heritageToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Heritage</div>
            </div>
          </div>

          <div id="buildingsToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Buildings</div>
            </div>
          </div>

          <div id="nativelandsToggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">Native Land</div>
            </div>
          </div>

          <div id="wsa_runway05Toggle" class="toggle">
            <div class="toggle-button" onclick="Animatedtoggle(this)">
              <div class="toggle-text">WSA Runway 05</div>
            </div>
          </div>

        </div>

        <ul class="sidebar__menu">
          <li>
            <a href="{{ url_for('planning') }}"
              ><img
                src="/static/images/building-solid.svg"
                alt="building icon"
              />
              <p>PLANNING</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('carbon') }}"
              ><img
                src="/static/images/industry-solid.svg"
                alt="industrial icon"
              />
              <p>CARBON</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('environmental') }}"
              ><img src="/static/images/seedling-solid.svg" alt="tree icon" />
              <p>ENVIRONMENTAL</p></a
            >
          </li>
          <li>
            <a href="{{ url_for('tools') }}"
              ><img
                src="/static/images/screwdriver-wrench-solid.svg"
                alt="terminal icon"
              />
              <p>TOOLS</p></a
            >
          </li>
        </ul>
      </nav>
    </div>

    <section id="container">
      <div id="map"></div>
    </section>

    <div id="infoBox">
      <div id="cadastreInfo"></div>
      <div id="adminInfo"></div>
      <div id="zoningInfo"></div>
      <div id="fsrInfo"></div>
      <div id="hobInfo"></div>
      <div id="mlsInfo"></div>
    </div>

    <script>
      let toggle = document.querySelector(".toggle");
      let text = document.querySelector(".text");

      function Animatedtoggle(clickedElement) {
        const toggle = clickedElement.parentNode;
        const text = toggle.nextElementSibling;

        toggle.classList.toggle("active");
      }
    </script>

    <script>
      $(document).ready(function () {
        $(".errorPopup").click(function () {
          $(this).hide();
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#rhinoForm").on("submit", function (event) {
          event.preventDefault();

          $(".spinner").css("display", "block");

          var formData = new FormData(this);

          $.ajax({
            type: "POST",
            url: "/mergeRhino",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "binary",
            xhrFields: {
              responseType: "blob",
            },
            success: function (response) {
              var blob = new Blob([response]);
              var link = document.createElement("a");
              link.href = window.URL.createObjectURL(blob);
              link.download = "merged.3dm";
              link.click();

              $(".spinner").css("display", "none");
            },
            error: function () {
              $(".spinner").css("display", "none");
              $(".errorPopup").css("display", "flex");
            },
          });
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#planningForm").on("submit", function (event) {
          event.preventDefault();

          $(".spinner").css("display", "block");

          var formData = new FormData(this);

          $.ajax({
            type: "POST",
            url: "/submit/planning",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "binary",
            xhrFields: {
              responseType: "blob",
            },
            success: function (response) {
              var blob = new Blob([response]);
              var link = document.createElement("a");
              link.href = window.URL.createObjectURL(blob);
              link.download = "planning.3dm";
              link.click();

              $(".spinner").css("display", "none");
            },
            error: function () {
              $(".spinner").css("display", "none");
              $(".errorPopup").css("display", "flex");
            },
          });
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#geometryForm").on("submit", function (event) {
          event.preventDefault();

          $(".spinner").css("display", "block");

          var formData = new FormData(this);

          $.ajax({
            type: "POST",
            url: "/submit/geometry",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "binary",
            xhrFields: {
              responseType: "blob",
            },
            success: function (response) {
              var blob = new Blob([response]);
              var link = document.createElement("a");
              link.href = window.URL.createObjectURL(blob);
              link.download = "geometry.3dm";
              link.click();

              $(".spinner").css("display", "none");
            },
            error: function () {
              $(".spinner").css("display", "none");
              $(".errorPopup").css("display", "flex");
            },
          });
        });
      });
    </script>

    <script>
      $(document).ready(function () {
        $("#elevatedForm").on("submit", function (event) {
          event.preventDefault();

          $(".spinner").css("display", "block");

          var formData = new FormData(this);

          $.ajax({
            type: "POST",
            url: "/submit/elevated",
            data: formData,
            processData: false,
            contentType: false,
            dataType: "binary",
            xhrFields: {
              responseType: "blob",
            },
            success: function (response) {
              var blob = new Blob([response]);
              var link = document.createElement("a");
              link.href = window.URL.createObjectURL(blob);
              link.download = "elevated.3dm";
              link.click();

              $(".spinner").css("display", "none");
            },
            error: function () {
              $(".spinner").css("display", "none");
              $(".errorPopup").css("display", "flex");
            },
          });
        });
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var statePicker = document.querySelector(".statePicker");
        var nswLink = statePicker.querySelector("li:first-child");
        var stateLinks = statePicker.querySelectorAll("a");

        function hideStatePicker() {
          statePicker.classList.add("hidden");
        }

        nswLink.addEventListener("click", hideStatePicker);
        stateLinks.forEach(function (link) {
          link.addEventListener("click", hideStatePicker);
        });
      });
    </script>

    <script>
      mapboxgl.accessToken =
        "pk.eyJ1Ijoicml2aW5kdWIiLCJhIjoiY2xmYThkcXNjMHRkdDQzcGU4Mmh2a3Q3MSJ9.dXlhamKyYyGusL3PWqDD9Q";
      var lat = "{{ lat }}";
      var lon = "{{ lon }}";

      const map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/dark-v10",
        center: [lon, lat],
        zoom: 10,
      });

      function queryCadastreLayer(lat, lon) {
        var queryUrl =
          "https://maps.six.nsw.gov.au/arcgis/rest/services/sixmaps/Cadastre/MapServer/0/query";
        var params = {
          distance: 10,
          units: "esriSRUnit_Meter",
          geometry: lon + "," + lat,
          geometryType: "esriGeometryPoint",
          inSR: 4326,
          spatialRel: "esriSpatialRelIntersects",
          returnGeometry: true,
          returnTrueCurves: false,
          returnIdsOnly: false,
          returnCountOnly: false,
          returnZ: false,
          returnM: false,
          returnDistinctValues: false,
          returnExtentsOnly: false,
          outFields: "*",
          f: "geojson",
        };

        $.ajax({
          url: queryUrl,
          data: params,
          dataType: "json",
          success: function (response) {
            var featureInfoElement = document.getElementById("cadastreInfo");

            featureInfoElement.innerHTML = "";

            if (response.features.length > 0) {
              var feature = response.features[0];
              var properties = feature.properties;
              var featureContainer = document.createElement("div");
              featureContainer.className = "feature-container";

              var featureTitle = document.createElement("p");
              featureTitle.textContent = "LOT ID: " + properties.lotidstring;

              featureContainer.appendChild(featureTitle);

              featureInfoElement.appendChild(featureContainer);

              featureInfoElement.style.display = "block";
            } else {
            }
          },
          error: function () {
            console.log("Error occurred during the query.");
          },
        });
      }

      function queryAdminLayer(lat, lon) {
        var queryUrl =
          "https://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_Administrative_Boundaries/MapServer/0/query";
        var params = {
          distance: 10,
          units: "esriSRUnit_Meter",
          geometry: lon + "," + lat,
          geometryType: "esriGeometryPoint",
          inSR: 4326,
          spatialRel: "esriSpatialRelIntersects",
          returnGeometry: true,
          returnTrueCurves: false,
          returnIdsOnly: false,
          returnCountOnly: false,
          returnZ: false,
          returnM: false,
          returnDistinctValues: false,
          returnExtentsOnly: false,
          outFields: "*",
          f: "geojson",
        };

        $.ajax({
          url: queryUrl,
          data: params,
          dataType: "json",
          success: function (response) {
            var featureInfoElement = document.getElementById("adminInfo");

            featureInfoElement.innerHTML = "";

            if (response.features.length > 0) {
              var feature = response.features[0];
              var properties = feature.properties;
              var featureContainer = document.createElement("div");
              featureContainer.className = "feature-container";

              var featureTitle = document.createElement("p");
              featureTitle.textContent = "SUBURB: " + properties.suburbname;

              featureContainer.appendChild(featureTitle);

              featureInfoElement.appendChild(featureContainer);

              featureInfoElement.style.display = "block";
            } else {
            }
          },
          error: function () {
            console.log("Error occurred during the query.");
          },
        });
      }

      function queryZoningLayer(lat, lon) {
        var queryUrl =
          "https://mapprod1.environment.nsw.gov.au/arcgis/rest/services/Planning/EPI_Primary_Planning_Layers/MapServer/2/query";
        var params = {
          distance: 10,
          units: "esriSRUnit_Meter",
          geometry: lon + "," + lat,
          geometryType: "esriGeometryPoint",
          inSR: 4326,
          spatialRel: "esriSpatialRelIntersects",
          returnGeometry: true,
          returnTrueCurves: false,
          returnIdsOnly: false,
          returnCountOnly: false,
          returnZ: false,
          returnM: false,
          returnDistinctValues: false,
          returnExtentsOnly: false,
          outFields: "*",
          f: "geojson",
        };

        $.ajax({
          url: queryUrl,
          data: params,
          dataType: "json",
          success: function (response) {
            var featureInfoElement = document.getElementById("zoningInfo");

            featureInfoElement.innerHTML = "";

            if (response.features.length > 0) {
              var feature = response.features[0];
              var properties = feature.properties;
              var featureContainer = document.createElement("div");
              featureContainer.className = "feature-container";

              var featureTitle = document.createElement("p");
              featureTitle.textContent = "ZONING: " + properties.SYM_CODE;

              featureContainer.appendChild(featureTitle);

              featureInfoElement.appendChild(featureContainer);

              featureInfoElement.style.display = "block";
            } else {
            }
          },
          error: function () {
            console.log("Error occurred during the query.");
          },
        });
      }

      function queryFSRLayer(lat, lon) {
        var queryUrl =
          "https://mapprod3.environment.nsw.gov.au/arcgis/rest/services/Planning/Principal_Planning_Layers/MapServer/4/query";
        var params = {
          distance: 10,
          units: "esriSRUnit_Meter",
          geometry: lon + "," + lat,
          geometryType: "esriGeometryPoint",
          inSR: 4326,
          spatialRel: "esriSpatialRelIntersects",
          returnGeometry: true,
          returnTrueCurves: false,
          returnIdsOnly: false,
          returnCountOnly: false,
          returnZ: false,
          returnM: false,
          returnDistinctValues: false,
          returnExtentsOnly: false,
          outFields: "*",
          f: "geojson",
        };

        $.ajax({
          url: queryUrl,
          data: params,
          dataType: "json",
          success: function (response) {
            var featureInfoElement = document.getElementById("fsrInfo");

            featureInfoElement.innerHTML = "";

            if (response.features.length > 0) {
              var feature = response.features[0];
              var properties = feature.properties;
              var featureContainer = document.createElement("div");
              featureContainer.className = "feature-container";

              var featureTitle = document.createElement("p");
              featureTitle.textContent = "FSR: " + properties.FSR;

              featureContainer.appendChild(featureTitle);

              featureInfoElement.appendChild(featureContainer);

              featureInfoElement.style.display = "block";
            } else {
            }
          },
          error: function () {
            console.log("Error occurred during the query.");
          },
        });
      }

      function queryHOBLayer(lat, lon) {
        var queryUrl =
          "https://mapprod3.environment.nsw.gov.au/arcgis/rest/services/Planning/Principal_Planning_Layers/MapServer/7/query";
        var params = {
          distance: 10,
          units: "esriSRUnit_Meter",
          geometry: lon + "," + lat,
          geometryType: "esriGeometryPoint",
          inSR: 4326,
          spatialRel: "esriSpatialRelIntersects",
          returnGeometry: true,
          returnTrueCurves: false,
          returnIdsOnly: false,
          returnCountOnly: false,
          returnZ: false,
          returnM: false,
          returnDistinctValues: false,
          returnExtentsOnly: false,
          outFields: "*",
          f: "geojson",
        };

        $.ajax({
          url: queryUrl,
          data: params,
          dataType: "json",
          success: function (response) {
            var featureInfoElement = document.getElementById("hobInfo");

            featureInfoElement.innerHTML = "";

            if (response.features.length > 0) {
              var feature = response.features[0];
              var properties = feature.properties;
              var featureContainer = document.createElement("div");
              featureContainer.className = "feature-container";

              var featureTitle = document.createElement("p");
              featureTitle.textContent = "HOB: " + properties.MAX_B_H;

              featureContainer.appendChild(featureTitle);

              featureInfoElement.appendChild(featureContainer);

              featureInfoElement.style.display = "block";
            } else {
            }
          },
          error: function () {
            console.log("Error occurred during the query.");
          },
        });
      }

      function queryMLSLayer(lat, lon) {
        var queryUrl =
          "https://mapprod3.environment.nsw.gov.au/arcgis/rest/services/Planning/Principal_Planning_Layers/MapServer/14/query";
        var params = {
          distance: 10,
          units: "esriSRUnit_Meter",
          geometry: lon + "," + lat,
          geometryType: "esriGeometryPoint",
          inSR: 4326,
          spatialRel: "esriSpatialRelIntersects",
          returnGeometry: true,
          returnTrueCurves: false,
          returnIdsOnly: false,
          returnCountOnly: false,
          returnZ: false,
          returnM: false,
          returnDistinctValues: false,
          returnExtentsOnly: false,
          outFields: "*",
          f: "geojson",
        };

        $.ajax({
          url: queryUrl,
          data: params,
          dataType: "json",
          success: function (response) {
            var featureInfoElement = document.getElementById("mlsInfo");

            featureInfoElement.innerHTML = "";

            if (response.features.length > 0) {
              var feature = response.features[0];
              var properties = feature.properties;
              var featureContainer = document.createElement("div");
              featureContainer.className = "feature-container";

              var featureTitle = document.createElement("p");
              featureTitle.textContent = "MLS: " + properties.LOT_SIZE;

              featureContainer.appendChild(featureTitle);

              featureInfoElement.appendChild(featureContainer);

              featureInfoElement.style.display = "block";
            } else {
            }
          },
          error: function () {
            console.log("Error occurred during the query.");
          },
        });
      }

      map.on("click", function (e) {
        var lat = e.lngLat.lat;
        var lon = e.lngLat.lng;

        queryCadastreLayer(lat, lon);
        queryAdminLayer(lat, lon);
        queryZoningLayer(lat, lon);
        queryFSRLayer(lat, lon);
        queryHOBLayer(lat, lon);
        queryMLSLayer(lat, lon);
      });

      map.on("load", function () {
        map.addSource("cadastre-raster-tiles", {
          type: "raster",
          tiles: [
            "https://maps.six.nsw.gov.au/arcgis/rest/services/sixmaps/Cadastre/MapServer/export?dpi=96&transparent=true&format=png32&bbox={bbox-epsg-3857}&bboxSR=3857&imageSR=3857&size=256%2C256&f=image&layers=show:0",
          ],
          tileSize: 256,
        });

        map.addLayer({
          id: "cadastre-raster-layer",
          type: "raster",
          source: "cadastre-raster-tiles",
          minzoom: 0,
          maxzoom: 22,
          layout: {
            visibility: "none",
          },
        });

        map.addSource("land-zoning-raster-tiles", {
          type: "raster",
          tiles: [
            "https://mapprod1.environment.nsw.gov.au/arcgis/rest/services/Planning/EPI_Primary_Planning_Layers/MapServer//export?f=image&dpi=96&transparent=true&format=png32&bboxSR=3857&imageSR=3857&size=256%2C256&layers=show%3A2&bbox={bbox-epsg-3857}",
          ],
          tileSize: 256,
        });

        map.addLayer({
          id: "land-zoning-raster-layer",
          type: "raster",
          source: "land-zoning-raster-tiles",
          minzoom: 0,
          maxzoom: 22,
          layout: {
            visibility: "none",
          },
        });

        map.addSource("floor-space-ratio-raster-tiles", {
          type: "raster",
          tiles: [
            "https://mapprod3.environment.nsw.gov.au/arcgis/rest/services/Planning/Principal_Planning_Layers/MapServer/export?dpi=96&transparent=true&format=png32&bbox={bbox-epsg-3857}&bboxSR=3857&imageSR=3857&size=256%2C256&f=image&layers=show:4",
          ],
          tileSize: 256,
        });

        map.addLayer({
          id: "floor-space-ratio-raster-layer",
          type: "raster",
          source: "floor-space-ratio-raster-tiles",
          minzoom: 0,
          maxzoom: 22,
          layout: {
            visibility: "none",
          },
        });

        map.addSource("mls-raster-tiles", {
          type: "raster",
          tiles: [
            "https://mapprod3.environment.nsw.gov.au/arcgis/rest/services/Planning/Principal_Planning_Layers/MapServer/export?dpi=96&transparent=true&format=png32&bbox={bbox-epsg-3857}&bboxSR=3857&imageSR=3857&size=256%2C256&f=image&layers=show:14",
          ],
          tileSize: 256,
        });

        map.addLayer({
          id: "mls-raster-layer",
          type: "raster",
          source: "mls-raster-tiles",
          minzoom: 0,
          maxzoom: 22,
          layout: {
            visibility: "none",
          },
        });

        map.addSource("heritage-raster-tiles", {
          type: "raster",
          tiles: [
            "https://mapprod3.environment.nsw.gov.au/arcgis/rest/services/Planning/Principal_Planning_Layers/MapServer/export?dpi=96&transparent=true&format=png32&bbox={bbox-epsg-3857}&bboxSR=3857&imageSR=3857&size=256%2C256&f=image&layers=show:8",
          ],
          tileSize: 256,
        });

        map.addLayer({
          id: "heritage-raster-layer",
          type: "raster",
          source: "heritage-raster-tiles",
          minzoom: 0,
          maxzoom: 22,
          layout: {
            visibility: "none",
          },
        });

        map.addSource("hob-raster-tiles", {
          type: "raster",
          tiles: [
            "https://mapprod3.environment.nsw.gov.au/arcgis/rest/services/Planning/Principal_Planning_Layers/MapServer/export?dpi=96&transparent=true&format=png32&bbox={bbox-epsg-3857}&bboxSR=3857&imageSR=3857&size=256%2C256&f=image&layers=show:7",
          ],
          tileSize: 256,
        });

        map.addLayer({
          id: "hob-raster-layer",
          type: "raster",
          source: "hob-raster-tiles",
          minzoom: 0,
          maxzoom: 22,
          layout: {
            visibility: "none",
          },
        });

        map.addSource("bushfire-raster-tiles", {
          type: "raster",
          tiles: [
            "https://mapprod3.environment.nsw.gov.au/arcgis/rest/services/ePlanning/Planning_Portal_Hazard/MapServer//export?f=image&dpi=96&transparent=true&format=png32&bboxSR=3857&imageSR=3857&size=256%2C256&layers=show%3A229&bbox={bbox-epsg-3857}",
          ],
          tileSize: 256,
        });

        map.addLayer({
          id: "bushfire-raster-layer",
          type: "raster",
          source: "bushfire-raster-tiles",
          minzoom: 0,
          maxzoom: 22,
          layout: {
            visibility: "none",
          },
        });

        map.addSource("admin-raster-tiles", {
          type: "raster",
          tiles: [
            "https://maps.six.nsw.gov.au/arcgis/rest/services/public/NSW_Administrative_Boundaries/MapServer/export?f=image&dpi=96&transparent=true&format=png32&bboxSR=3857&imageSR=3857&size=256%2C256&layers=show%3A0&bbox={bbox-epsg-3857}",
          ],
          tileSize: 256,
        });

        map.addLayer({
          id: "admin-raster-layer",
          type: "raster",
          source: "admin-raster-tiles",
          minzoom: 0,
          maxzoom: 22,
          layout: {
            visibility: "none",
          },
        });

        map.addLayer({
          id: "3d-buildings",
          source: "composite",
          "source-layer": "building",
          filter: ["==", "extrude", "true"],
          type: "fill-extrusion",
          minzoom: 15,
          paint: {
            "fill-extrusion-color": "#aaa",
            "fill-extrusion-height": ["get", "height"],
            "fill-extrusion-base": ["get", "min_height"],
            "fill-extrusion-opacity": 1.0,
          },
          layout: {
            visibility: "visible",
          },
        });

        map.addSource("nativelands-source", {
          type: "vector",
          url: "mapbox://nativeland.cjh3mywgg04aaahpidhgio50e-9ctzy",
        });

        map.addLayer({
          id: "nativelands-layer",
          type: "fill",
          source: "nativelands-source",
          "source-layer": "Territories",
          paint: {
            "fill-color": ["get", "color"],
            "fill-opacity": 0.8,
          },
          minzoom: 0,
          maxzoom: 22,
          layout: {
            visibility: "none",
          },
        });

        map.addLayer({
          id: "nativelands-layer-symbol",
          type: "symbol",
          source: "nativelands-source",
          "source-layer": "Territories",
          layout: {
            "text-field": ["get", "Name"],
            "text-size": 12,
            "text-anchor": "center",
            "text-allow-overlap": true,
            visibility: "none",
          },
          paint: {
            "text-color": "#fff",
          },
          minzoom: 0,
          maxzoom: 22,
        });

        buildingsToggleBtn.classList.add("active");

        map.addSource('geojson-source', {
          type: 'geojson',
          data: "https://cdn.wsiflightpaths.aerlabs.com/swathes/departures_night_23.geojson"
          });
          
          map.addLayer({
          'id': 'geojson-layer',
          'type': 'circle',
          'source': 'geojson-source',
          paint: {
            "fill-color": "#0000ff", 
            "fill-opacity": 0.8,
          },
          });
      });

      const geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl,
        marker: true,
      });

      map.addControl(geocoder);

      map.addControl(new mapboxgl.NavigationControl());

      var marker;
      function mapClickFn(coordinates, addressFieldId) {
        const url =
          "https://api.mapbox.com/geocoding/v5/mapbox.places/" +
          coordinates.lng +
          "," +
          coordinates.lat +
          ".json?access_token=" +
          mapboxgl.accessToken +
          "&types=address";

        $.get(url, function (data) {
          if (data.features.length > 0) {
            const address = data.features[0].place_name;
            $("#" + addressFieldId).val(address);
          } else {
            console.log("No address found");
          }
        });
      }

      map.on("click", function (e) {
        if (marker) {
          marker.remove();
        }

        marker = new mapboxgl.Marker({
          color: "#FFD700",
          circleRadius: 8,
          draggable: false,
        })
          .setLngLat(e.lngLat)
          .addTo(map);

        mapClickFn(e.lngLat, "address_planning");
        mapClickFn(e.lngLat, "address_geometry");
        mapClickFn(e.lngLat, "address_elevated");
      });

      const cadastreToggleBtn = document.getElementById("cadastreToggle");
      const landZoningToggleBtn = document.getElementById("landZoningToggle");
      const floorSpaceRatioToggleBtn = document.getElementById("fsrToggle");
      const mlsToggleBtn = document.getElementById("mlsToggle");
      const adminToggleBtn = document.getElementById("adminToggle");
      const hobToggleBtn = document.getElementById("hobToggle");
      const bushfireToggleBtn = document.getElementById("bushfireToggle");
      const heritageToggleBtn = document.getElementById("heritageToggle");
      const buildingsToggleBtn = document.getElementById("buildingsToggle");
      const nativelandsToggleBtn = document.getElementById("nativelandsToggle");
      const wsa_runway05ToggleBtn = document.getElementById("wsa_runway05ToggleBtn");

      cadastreToggleBtn.addEventListener("click", function () {
        const layerId = "cadastre-raster-layer";
        toggleLayerVisibility(layerId, cadastreToggleBtn);
      });

      landZoningToggleBtn.addEventListener("click", function () {
        const layerId = "land-zoning-raster-layer";
        toggleLayerVisibility(layerId, landZoningToggleBtn);
      });

      floorSpaceRatioToggleBtn.addEventListener("click", function () {
        const layerId = "floor-space-ratio-raster-layer";
        toggleLayerVisibility(layerId, floorSpaceRatioToggleBtn);
      });

      mlsToggleBtn.addEventListener("click", function () {
        const layerId = "mls-raster-layer";
        toggleLayerVisibility(layerId, mlsToggleBtn);
      });

      adminToggleBtn.addEventListener("click", function () {
        const layerId = "admin-raster-layer";
        toggleLayerVisibility(layerId, adminToggleBtn);
      });

      hobToggleBtn.addEventListener("click", function () {
        const layerId = "hob-raster-layer";
        toggleLayerVisibility(layerId, hobToggleBtn);
      });

      bushfireToggleBtn.addEventListener("click", function () {
        const layerId = "bushfire-raster-layer";
        toggleLayerVisibility(layerId, bushfireToggleBtn);
      });

      heritageToggleBtn.addEventListener("click", function () {
        const layerId = "heritage-raster-layer";
        toggleLayerVisibility(layerId, heritageToggleBtn);
      });

      buildingsToggleBtn.addEventListener("click", function () {
        const layerId = "3d-buildings";
        toggleLayerVisibility(layerId, buildingsToggleBtn);
      });

      nativelandsToggleBtn.addEventListener("click", function () {
        const layerId1 = "nativelands-layer";
        const layerId2 = "nativelands-layer-symbol";
        toggleLayerVisibility(layerId1, nativelandsToggleBtn);
        toggleLayerVisibility(layerId2, nativelandsToggleBtn);
      });

      wsa_runway05ToggleBtn.addEventListener("click", function () {
        const layerId = "geojson-layer";
        toggleLayerVisibility(layerId, wsa_runway05ToggleBtn);
      });

      function toggleLayerVisibility(layerId, toggleBtn) {
        const visibility = map.getLayoutProperty(layerId, "visibility");
        if (visibility === "visible") {
          map.setLayoutProperty(layerId, "visibility", "none");
          toggleBtn.classList.remove("active");
        } else {
          map.setLayoutProperty(layerId, "visibility", "visible");
          toggleBtn.classList.add("active");
        }
      }
    </script>

    <script>
      document
        .getElementById("uploadedMergeFile")
        .addEventListener("change", function () {
          if (this.value) {
            document.querySelector(".uploadMergeLabel").classList.add("green");
          } else {
            document
              .querySelector(".uploadMergeLabel")
              .classList.remove("green");
          }
        });

      function countFiles() {
        var input = document.getElementById("uploadedMergeFile");
        var fileCount = input.files.length;
        var countDisplay = document.getElementById("fileCount");
        countDisplay.textContent = fileCount.toString();
      }
    </script>

    <script>
      document
        .getElementById("uploadGiraffeBtn")
        .addEventListener("change", function () {
          if (this.value) {
            document
              .querySelector(".uploadGiraffeLabel")
              .classList.add("green");
          } else {
            document
              .querySelector(".uploadGiraffeLabel")
              .classList.remove("green");
          }
        });
    </script>
  </body>
</html>
