<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Early Planning</title>
  <link rel="icon" type="image/svg" href="/static/images/building-solid.svg">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.css" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css' type='text/css' />
</head>
<body>


  <div class="state"><a href="./planning"><img src="/static/images/vic_outline.png" alt=""></a></div>

  <div class="errorPopup">
    <span><img src="/static/images/emoji.png" alt="emoji"></span>
    <p class="firstLine">OOPS...</p>
    <p class="secondLine">SOMETHING WENT WRONG</p>
    <p class="thirdLine">PLEASE TRY AGAIN OR CONTACT DDG</p>
  </div>

  <form id="rhinoForm" action="/mergeRhino" enctype="multipart/form-data", method="POST">
    <div class="mergeRhino">
      <input type="file" id="uploadedMergeFile" name="uploadedMergeFile" multiple onchange="countFiles()"/>
      <label for="uploadedMergeFile" class="uploadMergeLabel"><i class="ri-upload-line"></i>Upload Rhino Files</label>
      <span id="fileCount">0</span>
      <button type="submit" class="mergeLabel">Merge</button>
    </div>
  </form>

  <div class="sidebar">

    <div class="dd__logo">
      <a href="https://digitaldesign.nettletontribe.com.au/"><img src="/static/images/dd_logo.png" alt="dd_logo" width="300px"></a>
    </div>
    <div class="nt__logo">
      <a href="https://www.nettletontribe.com.au"><img src="/static/images/nt_logo.png" alt="dd_logo" width="300px"></a>
    </div>

    <nav class="sidebar__nav">
      <form id="planningForm" action="/vic_planning" method="POST">
        <div class="address">
          <input type="text" id="address_planning" name="address" placeholder="Address will appear here" readonly>
        </div>
        <div class="planning_button">
          <button type="submit" id="planning"></button>
          <label for="planning" class="planningLabel">PLANNNG</label>
        </div>
      </form>
      <form id="geometryForm" action="/vic_geometry" method="POST">
        <input type="file" id="uploadGiraffeBtn" name="uploadGiraffeBtn" />
          <label for="uploadGiraffeBtn" class="uploadGiraffeLabel"
            ><i class="ri-upload-line"></i>Upload Giraffe</label>
        <div class="address">
          <input type="text" id="address_geometry" name="address" placeholder="Address will appear here" readonly>
        </div>
        <div class="geometry_button">
          <button type="submit" id="geometry"></button>
          <label for="geometry" class="geometryLabel">GEOMETRY</label>
        </div>
      </form>
      <form id="elevatedForm" action="/vic_elevated" method="POST">
        <div class="address">
          <input type="text" id="address_elevated" name="address" placeholder="Address will appear here" readonly>
        </div>
        <div class="elevated_button">
          <button type="submit" id="elevated"></button>
          <label for="elevated" class="elevatedLabel">ELEVATED</label>
        </div>
      </form>

      <div class="spinner" id="spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

      <div class="togglecontainer">

        <div id="adminToggle" class="toggle">
          <div class="toggle-button" onclick="Animatedtoggle(this)">
            <div class="toggle-text">Administrative Boundary</div>
          </div>
        </div>
      
        <div id="cadastreToggle" class="toggle">
          <div class="toggle-button" onclick="Animatedtoggle(this)">
            <div class="toggle-text">Cadastre</div>
          </div>
        </div>

        <div id="landZoningToggle" class="toggle">
          <div class="toggle-button" onclick="Animatedtoggle(this)">
            <div class="toggle-text">Land Zoning</div>
          </div>
        </div>

        <div id="bushfireToggle" class="toggle">
          <div class="toggle-button" onclick="Animatedtoggle(this)">
            <div class="toggle-text">Bushfire</div>
          </div>
        </div>

        <div id="heritageToggle" class="toggle">
          <div class="toggle-button" onclick="Animatedtoggle(this)">
            <div class="toggle-text">Heritage</div>
          </div>
        </div>

        <div id="buildingsToggle" class="toggle">
          <div class="toggle-button" onclick="Animatedtoggle(this)">
            <div class="toggle-text">Buildings</div>
          </div>
        </div>

        <div id="nativelandsToggle" class="toggle">
          <div class="toggle-button" onclick="Animatedtoggle(this)">
            <div class="toggle-text">Native Land</div>
          </div>
        </div>
  
      </div>

      <ul class="sidebar__menu">
        <li>
          <a href="{{ url_for('planning') }}"><img src="/static/images/building-solid.svg" alt="building icon"><p>PLANNING</p></a>
        </li>
        <li>
          <a href="{{ url_for('carbon') }}"><img src="/static/images/industry-solid.svg" alt="industrial icon" ><p>CARBON</p></a>
        </li>
        <li>
          <a href="{{ url_for('environmental') }}"><img src="/static/images/seedling-solid.svg" alt="tree icon"><p>ENVIRONMENTAL</p></a>
        </li>
      </ul>
    </nav>
  </div>
    
  <section id="container">
    <div id="map"></div>
  </section>

  <script>
    $(document).ready(function() {
      $(".errorPopup").click(function() {
        $(this).hide();
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      $('#planningForm').on('submit', function(event) {
        event.preventDefault();

        $('.spinner').css('display', 'block');

        var formData = new FormData(this);

        $.ajax({
          type: 'POST',
          url: '/vic_planning',
          data: formData,
          processData: false,
          contentType: false,
          dataType: 'binary',
          xhrFields: {
            responseType: 'blob'
          },
          success: function(response) {
            var blob = new Blob([response]);
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = "vic_planning.3dm";
            link.click();

            $('.spinner').css('display', 'none');
          },
          error: function() {
            $('.spinner').css('display', 'none');
            $(".errorPopup").css('display', 'flex');
          }
        });
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      $('#geometryForm').on('submit', function(event) {
        event.preventDefault();

        $('.spinner').css('display', 'block');

        var formData = new FormData(this);

        $.ajax({
          type: 'POST',
          url: '/vic_geometry',
          data: formData,
          processData: false,
          contentType: false,
          dataType: 'binary',
          xhrFields: {
            responseType: 'blob'
          },
          success: function(response) {
            var blob = new Blob([response]);
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = "vic_geometry.3dm";
            link.click();

            $('.spinner').css('display', 'none');
          },
          error: function() {
            $('.spinner').css('display', 'none');
            $(".errorPopup").css('display', 'flex');
          }
        });
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      $('#rhinoForm').on('submit', function(event) {
        event.preventDefault();

        $('.spinner').css('display', 'block');

        var formData = new FormData(this);

        $.ajax({
          type: 'POST',
          url: '/mergeRhino',
          data: formData,
          processData: false,
          contentType: false,
          dataType: 'binary',
          xhrFields: {
            responseType: 'blob'
          },
          success: function(response) {
            var blob = new Blob([response]);
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = "merged.3dm";
            link.click();

            $('.spinner').css('display', 'none');
          },
          error: function() {
            $('.spinner').css('display', 'none');
            $(".errorPopup").css('display', 'flex');
          }
        });
      });
    });
  </script>

  <script>
    $(document).ready(function() {
      $('#elevatedForm').on('submit', function(event) {
        event.preventDefault();

        $('.spinner').css('display', 'block');

        var formData = new FormData(this);

        $.ajax({
          type: 'POST',
          url: '/vic_elevated',
          data: formData,
          processData: false,
          contentType: false,
          dataType: 'binary',
          xhrFields: {
            responseType: 'blob'
          },
          success: function(response) {
            var blob = new Blob([response]);
            var link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = "vic_elevated.3dm";
            link.click();

            $('.spinner').css('display', 'none');
          },
          error: function() {
            $('.spinner').css('display', 'none');
            $(".errorPopup").css('display', 'flex');
          }
        });
      });
    });
  </script>

  <script>
    let toggle = document.querySelector(".toggle");
    let text = document.querySelector(".text");
    
    function Animatedtoggle(clickedElement) {
    const toggle = clickedElement.parentNode;
    const text = toggle.nextElementSibling;

    toggle.classList.toggle("active");
  }

  </script>
  
  <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoicml2aW5kdWIiLCJhIjoiY2xmYThkcXNjMHRkdDQzcGU4Mmh2a3Q3MSJ9.dXlhamKyYyGusL3PWqDD9Q';
    var lat = "{{ lat }}";
    var lon = "{{ lon }}";

    const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/dark-v10',
    center: [lon, lat],
    zoom: 10
    });

    map.on('load', function() {
    // Add Cadastre raster layer
      map.addSource('cadastre-raster-tiles', {
        type: 'raster',
        "tiles": [
        "https://plan-gis.mapshare.vic.gov.au/arcgis/rest/services/Planning/VicPlan_PropertyAndParcel/MapServer/export?dpi=96&transparent=true&format=png32&bbox={bbox-epsg-3857}&bboxSR=3857&imageSR=3857&size=256%2C256&f=image&layers=show:4"
      ],
        tileSize: 256
      });

      map.addLayer({
        id: 'cadastre-raster-layer',
        type: 'raster',
        source: 'cadastre-raster-tiles',
        minzoom: 0,
        maxzoom: 22,
        layout: {
          visibility: 'none' // Set the initial visibility to 'none'
        }
      });

      // Add Land Zoning raster layer
      map.addSource('land-zoning-raster-tiles', {
        type: 'raster',
        "tiles": [
        "https://enterprise.mapshare.vic.gov.au/server/rest/services/Zones_and_Overlays/MapServer//export?f=image&dpi=96&transparent=true&format=png32&bboxSR=3857&imageSR=3857&size=256%2C256&layers=show%3A28&bbox={bbox-epsg-3857}"
      ],
        tileSize: 256
      });

      map.addLayer({
        id: 'land-zoning-raster-layer',
        type: 'raster',
        source: 'land-zoning-raster-tiles',
        minzoom: 0,
        maxzoom: 22,
        layout: {
          visibility: 'none' // Set the initial visibility to 'none'
        }
      });


      map.addSource('heritage-raster-tiles', {
        type: 'raster',
        "tiles": [
        "https://enterprise.mapshare.vic.gov.au/server/rest/services/Zones_and_Overlays/MapServer/export?f=image&dpi=96&transparent=true&format=png32&bboxSR=3857&imageSR=3857&size=256%2C256&layers=show%3A7&bbox={bbox-epsg-3857}"
      ],
        tileSize: 256
      });

      map.addLayer({
        id: 'heritage-raster-layer',
        type: 'raster',
        source: 'heritage-raster-tiles',
        minzoom: 0,
        maxzoom: 22,
        layout: {
          visibility: 'none'
        }
      });

      map.addSource('bushfire-raster-tiles', {
        type: 'raster',
        "tiles": [
        "https://enterprise.mapshare.vic.gov.au/server/rest/services/Zones_and_Overlays/MapServer//export?f=image&dpi=96&transparent=true&format=png32&bboxSR=3857&imageSR=3857&size=256%2C256&layers=show%3A16&bbox={bbox-epsg-3857}"
      ],
        tileSize: 256
      });

      map.addLayer({
        id: 'bushfire-raster-layer',
        type: 'raster',
        source: 'bushfire-raster-tiles',
        minzoom: 0,
        maxzoom: 22,
        layout: {
          visibility: 'none'
        }
      });

      map.addSource('admin-raster-tiles', {
        type: 'raster',
        "tiles": [
        "https://enterprise.mapshare.vic.gov.au/server/rest/services/Vicmap_Admin/MapServer//export?f=image&dpi=96&transparent=true&format=png32&bboxSR=3857&imageSR=3857&size=256%2C256&layers=show%3A9&bbox={bbox-epsg-3857}"
      ],
        tileSize: 256
      });

      map.addLayer({
        id: 'admin-raster-layer',
        type: 'raster',
        source: 'admin-raster-tiles',
        minzoom: 0,
        maxzoom: 22,
        layout: {
          visibility: 'none'
        }
      });

      map.addLayer({
        'id': '3d-buildings',
        'source': 'composite',
        'source-layer': 'building',
        'filter': ['==', 'extrude', 'true'],
        'type': 'fill-extrusion',
        'minzoom': 15,
        'paint': {
          'fill-extrusion-color': '#aaa',
          'fill-extrusion-height': ['get', 'height'],
          'fill-extrusion-base': ['get', 'min_height'],
          'fill-extrusion-opacity': 1.0
        },
        layout: {
          visibility: 'visible'
        }
      });

      map.addSource('nativelands-source', {
        type: 'vector',
        url: 'mapbox://nativeland.cjh3mywgg04aaahpidhgio50e-9ctzy'
      });

      map.addLayer({
        id: 'nativelands-layer',
        type: 'fill',
        source: 'nativelands-source',
        'source-layer': 'Territories',
        paint: {
          'fill-color': ['get', 'color'],
          'fill-opacity': 0.8
        },
        minzoom: 0,
        maxzoom: 22,
        layout: {
          visibility: 'none',
        }
      });

      map.addLayer({
        id: 'nativelands-layer-symbol',
        type: 'symbol',
        source: 'nativelands-source',
        'source-layer': 'Territories',
        layout: {
          'text-field': ['get', 'Name'], 
          'text-size': 12,
          'text-anchor': 'center',
          'text-allow-overlap': true
        },
        paint: {
          'text-color': '#fff'
        },
        minzoom: 0,
        maxzoom: 22
      });

      buildingsToggleBtn.classList.add('active');
    });

    const geocoder = new MapboxGeocoder({
      accessToken: mapboxgl.accessToken,
      mapboxgl: mapboxgl,
      marker: true
    });

    map.addControl(geocoder);

    map.addControl(new mapboxgl.NavigationControl());

    var marker;
    function mapClickFn(coordinates, addressFieldId) {
      const url =
        "https://api.mapbox.com/geocoding/v5/mapbox.places/" +
        coordinates.lng +
        "," +
        coordinates.lat +
        ".json?access_token=" +
        mapboxgl.accessToken +
        "&types=address";

      $.get(url, function (data) {
        if (data.features.length > 0) {
          const address = data.features[0].place_name;
          $("#" + addressFieldId).val(address);
        } else {
          console.log("No address found");
        }
      });
    }

    map.on("click", function (e) {
      if (marker) {
        marker.remove();
      }

      marker = new mapboxgl.Marker({
        color: "#FFD700",
        circleRadius: 8,
        draggable: false,
      })
        .setLngLat(e.lngLat)
        .addTo(map);

      mapClickFn(e.lngLat, "address_planning");
      mapClickFn(e.lngLat, "address_geometry");
      mapClickFn(e.lngLat, "address_elevated");
    });

  const cadastreToggleBtn = document.getElementById('cadastreToggle');
  const landZoningToggleBtn = document.getElementById('landZoningToggle');
  const adminToggleBtn = document.getElementById('adminToggle');
  const bushfireToggleBtn = document.getElementById('bushfireToggle');
  const heritageToggleBtn = document.getElementById('heritageToggle');
  const buildingsToggleBtn = document.getElementById('buildingsToggle');
  const nativelandsToggleBtn = document.getElementById('nativelandsToggle')

  cadastreToggleBtn.addEventListener('click', function() {
    const layerId = 'cadastre-raster-layer';
    toggleLayerVisibility(layerId, cadastreToggleBtn);
  });

  landZoningToggleBtn.addEventListener('click', function() {
    const layerId = 'land-zoning-raster-layer';
    toggleLayerVisibility(layerId, landZoningToggleBtn);
  });

  adminToggleBtn.addEventListener('click', function() {
    const layerId = 'admin-raster-layer';
    toggleLayerVisibility(layerId, adminToggleBtn);
  });

  bushfireToggleBtn.addEventListener('click', function() {
    const layerId = 'bushfire-raster-layer';
    toggleLayerVisibility(layerId, bushfireToggleBtn);
  });

  heritageToggleBtn.addEventListener('click', function() {
    const layerId = 'heritage-raster-layer';
    toggleLayerVisibility(layerId, heritageToggleBtn);
  });

  buildingsToggleBtn.addEventListener('click', function() {
    const layerId = '3d-buildings';
    toggleLayerVisibility(layerId, buildingsToggleBtn);
  });

  nativelandsToggleBtn.addEventListener('click', function() {
    const layerIds = ['nativelands-layer', 'nativelands-layer-symbol'];
    toggleLayerVisibility(layerIds, nativelandsToggleBtn);
  });

  function toggleLayerVisibility(layerIds, toggleBtn) {
    for (const layerId of layerIds) {
      const visibility = map.getLayoutProperty(layerId, 'visibility');
      if (visibility === 'visible') {
        map.setLayoutProperty(layerId, 'visibility', 'none');
      } else {
        map.setLayoutProperty(layerId, 'visibility', 'visible');
      }
    }

    toggleBtn.classList.toggle('active');
  }
  </script>
  
</body>
</html>
